{% extends "app/base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block main-content %}

<div class="container my-5">
    <div class="card shadow p-4 mx-auto" style="max-width: 800px; border-radius: 15px;">
        <h1 class="text-center mb-4">About Us</h1>
        <p class="lead text-justify">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque ipsum asperiores 
            sed et? Ullam deleniti cupiditate iusto eos soluta veniam nisi illum culpa sed similique 
            dicta accusantium facilis, labore corrupti!
        </p>

        <hr class="my-4">

        <h2 class="mb-3">Our Mission</h2>
        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo magnam aut recusandae ut, 
            fugit veniam quo officia quae beatae accusantium quidem porro ad necessitatibus excepturi quaerat 
            illum architecto quia inventore.
        </p>

        <hr class="my-4">

        <h2 class="mb-3">Our Policies</h2>
        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi corporis obcaecati, ipsam deleniti illo 
            laboriosam? Sint, tempore magni tenetur consequuntur aliquid, assumenda numquam voluptatibus expedita enim 
            provident minus quasi illum?
        </p>
    </div>
</div>

{% endblock main-content %}
