.card {
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    margin-bottom: 15px;
}
.card:hover {
    transform: translateY(-5px);
}

.btn-primary {
    border-radius: 50px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}
